@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* Loader Styles */
.bg-loader {
    background-color: white;
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    z-index: 199999;
    top: 0;
}
.loader {
    background-image: url(../img/lorenzo-gravina-pittogramma.png);
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    background-position: center;
    margin-top: -20px;
    background-size: cover;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Hide content initially */
.hidden {
    display: none;
}


html {font-size: 14px;}

body {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 1.65;
  font-weight: 400;
}

p {
  font-size: 1em;
  color:#323940;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Inter', sans-serif;
  line-height: 1.15;
  font-weight: 400;
  color:#0C1E2F;
}

h1,
.text-size-h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin-top: 0;
  font-size: 3.05em;
}

h2,
.text-size-h2 { font-size: 2.44em; }

h3,
.text-size-h3 { font-size: 1.95em; }

h4,
.text-size-h4 { font-size: 1.56em; }

h5,
.text-size-h5 { font-size: 1.25em; }

.text-caption { font-size: 0.8em; text-transform: uppercase;}

small,
.text-small {
  font-size: 0.64em;
  
}

.container {
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-around;
    align-items: flex-start;
    padding: 22px;
    gap: 22px;
}
.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: stretch;
    gap: 22px;
}

.col{
    flex-grow: 1;
}